<div class="Container content">
    <div class="row">
        <div class="col-md-6">
            hola
        </div>
        <div class="col-md-6">
            Mundo!!
        </div>
    </div>
</div>
